   <a href="/post/add">Добавить пост</a>

<script type="text/javascript" src="/build/js/jquery.js"></script>
<!-- <script type="text/javascript" src="/public/js/lib.js"></script> -->
<script type="text/javascript" src="/build/js/script.js"></script>
  
</body>

</html>
